<div class="content-heading">
    <div>添加资讯
        <small></small>
    </div>
</div>

<div class="card card-default">
   <form class="main" nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm(event, groupName.value)" nzLayout="horizontal">
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">标题</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <input nz-input formControlName="title" id="title" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="treeId">分类</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <nz-cascader [nzOptions]="treeOptons" formControlName="treeId"></nz-cascader>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="treeId">封面图片</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
               
            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">描述</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <input nz-input formControlName="description" id="description" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="keywords">关键字</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <input nz-input formControlName="keywords" id="keywords" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="from">来源</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <input nz-input formControlName="from" id="from" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="content">内容</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
            </nz-form-control>
        </nz-form-item>
      
     
   </form>
</div>
