<!--
 * @LastEditTime: 2020-11-19 21:03:56
-->
<div class="content-heading">
    <div>{{pageTitle}}
        <small></small>
    </div>
</div>

<nz-spin class="card card-default" [nzSpinning]="dataLoading">
    <form  #myForm="ngForm" (ngSubmit)="submitForm(myForm)"  class="main" nz-form  nzLayout="horizontal">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired  nzFor="title">标题</nz-form-label>
            <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="请输入标题">
                <input nz-input [(ngModel)]="model.title" name="title" required id="title"/>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">描述</nz-form-label>
            <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="请输入描述">
                <textarea nz-input placeholder="" [(ngModel)]="model.description" name="description" id="description" required
                    [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="treeId">分类</nz-form-label>
            <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="请选择分类">
                <nz-cascader [nzOptions]="treeOptons" [(ngModel)]="selectedTreeIds" name="selectedTreeIds"  required  (ngModelChange)="treeChange($event)" id="treeId"></nz-cascader>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">其他</nz-form-label>
            <nz-form-control [nzSm]="8" [nzXs]="24">
                <button nz-button type="button" nzType="link" (click)="showMore=!showMore">{{showMore?'收起':'展开'}}<i nz-icon
                        [nzType]="showMore?'up':'down'"></i></button>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item [hidden]="!showMore">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="treeId">封面图片</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <nz-upload class="avatar-uploader" [nzAction]="uploadFileUrl"
                    nzName="file" [nzFileList]="uploadFile" nzListType="picture-card" [nzShowUploadList]="false"
                    [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)">
                    <ng-container *ngIf="!coverUrlBase64&&!model.coverUrl">
                        <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                        <div class="ant-upload-text">上传</div>
                    </ng-container>
                    <img *ngIf="coverUrlBase64||model.coverUrl" [src]="coverUrlBase64||model.coverUrl" class="avatar" />
                </nz-upload>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item [hidden]="!showMore">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="keywords" >关键字</nz-form-label>
            <nz-form-control [nzSm]="8" [nzXs]="24">
                <input nz-input [(ngModel)]="model.keywords" name="keywords" id="keywords" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item [hidden]="!showMore">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="from">来源</nz-form-label>
            <nz-form-control [nzSm]="8" [nzXs]="24">
                <input nz-input [(ngModel)]="model.from" name="from" id="from"  />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">内容</nz-form-label>
            <nz-col [nzSm]="14" [nzXs]="24">
                <editor id="editor" [init]="editorConfig" [(ngModel)]="model.content" name="content" required></editor>
            </nz-col>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzSm]="{span:14,offset:6}" [nzXs]="24">
                <button nz-button nzType="primary" type="submit">提交</button>
            </nz-form-control>
        </nz-form-item>


    </form>
</nz-spin>